@use '../../../App';

.article-page-wrapper {

    .article-header-img{
        width: 50%;
        height: 800px;
        background-color: App.$main-color-yellow;

    }

    h1{
        color: white;
        width: 1440px;
        font-family: 'Oswald';
        font-size: 96px;
        font-weight: 400;
        text-align: center;
        margin-top: 23%;
        position: absolute;
        z-index: 1;
    }

    .article-layout {
        
        .first-section {
            display: flex;
            margin-top: 130px;          
            
            .author-info {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                align-self: flex-start;
                width: 50%;
                padding-right: 80px;
                
    
                h5 {
                    font-family: 'Oswald';
                    font-size: 24px;
                    font-weight: 400;
                    color: #48B6B6;
                    margin-right: 21px;
        
                }
    
                img {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    background-color: App.$main-color-gray;
                }
            }

            .paragraph-wrapper {
                color: white;
                width: 537px;;
                margin: 20px;
                font-family: 'Open Sans';
                font-size: 24px;
                margin-left: 0px;
        
            

                h6 {
                    font-weight: 600;
                    font-size: 24px;
                    margin: 0;
                    padding: 0;
                }

                p {
                    font-weight: 400;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }


}

