@use "../../../App";

.article-page-wrapper {
    .article-header-img {
        width: 50%;
        height: 800px;
        background-color: App.$main-color-yellow;
    }

    h1 {
        color: white;
        width: 1440px;
        font-family: "Oswald";
        font-size: 96px;
        font-weight: 400;
        text-align: center;
        margin-top: 23%;
        position: absolute;
        z-index: 1;
    }

    .article-layout {
        display: flex;
        flex-direction: column;

        .first-section {
            display: flex;
            justify-content: space-evenly;
            margin-left: 300px;
            margin-top: 130px;

            .author-info {
                display: flex;
                align-items: center;
                align-self: baseline;
                padding-left: 80px;

                h5 {
                    font-family: "Oswald";
                    font-size: 24px;
                    font-weight: 400;
                    color: #48b6b6;
                    margin-right: 21px;
                }

                img {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    background-color: App.$main-color-gray;
                }
            }

            .paragraph-wrapper {
                display: flex;
                flex-direction: column;
                color: white;
                font-family: "Open Sans";
                font-size: 24px;
                width: 537px;
                margin-top: 30px;

                h6 {
                    font-weight: 600;
                    font-size: 24px;
                    margin: 0;
                    padding: 0;
                }

                p {
                    font-weight: 300;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
